@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Body */
  --ff-open-sans: 'Open Sans', sans-serif;
  /* Headings, Call-to-actions, Header Navigation */

  --ff-raleway: 'Raleway', sans-serif;

  --clr-Very-Dark-Blue: hsl(243, 87%, 12%);
  --clr-Desaturated-Blue: hsl(238, 22%, 44%);
  --clr-Bright-Blue: hsl(224, 93%, 58%);
  --clr-Moderate-Cyan: hsl(170, 45%, 43%);
  --clr-Light-Grayish-Blue: hsl(240, 75%, 98%);
  --clr-Light-Gray: hsl(0, 0%, 75%);
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-open-sans);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 8px;
}

/* header */
.header {
  min-height: 70vh;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.navbar-brand {
  width: 80px;
}

.nav-list-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  font-size: 1.25rem;
  color: var(--clr-Very-Dark-Blue);
  font-family: var(--ff-raleway);
}

.hero-section {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
}

.hero-left-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.hero-heading {
  font-family: var(--ff-raleway);
}

.hero-description {
  font-size: 1.1rem;
}

.hero-right-container {
  width: 80%;
  margin: auto;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.hero-input {
  width: 80%;
  padding: 0.75rem 0.5rem;
  font-size: 1.25rem;
}

.btn-hero {
  width: 80%;
  background-color: var(--clr-Bright-Blue);
  color: #fff;
  border: 2px solid var(--clr-Bright-Blue);
}

.productive-section {
  background-image: url('../images/bg-curve-mobile.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 3rem auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
}

.productive-section .section-title {
  text-align: center;
  color: var(--clr-Very-Dark-Blue);
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.productive-section .section-description {
  color: var(--clr-Desaturated-Blue);
  line-height: 1.5;
  margin-bottom: 1rem;
}

.link-fylo {
  color: var(--clr-Moderate-Cyan);
  border-bottom: 2px solid var(--clr-Moderate-Cyan);
  padding-bottom: 0.5rem;
  display: block;
  width: 60%;
  text-align: center;
  margin: 0.5rem auto 2rem;
}

.productive-card {
  width: 95%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.15), -6px -6px 6px rgba(0, 0, 0, 0.15);
}

.icon-container {
  width: 20px;
}

.cite-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cite-details {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 1rem 3.5rem;
  }
  .navbar-brand {
    width: 120px;
  }

  .hero-section {
    flex-direction: row;
    align-items: center;
  }

  .hero-left-container {
    text-align: left;
  }

  .form-control {
    flex-direction: row;
  }

  .btn-hero {
    width: 60%;
  }
  .productive-section {
    background-image: url('../images/bg-curve-desktop.svg');
    flex-direction: row;
    padding: 3rem 5rem;
  }

  .productive-section .section-title {
    text-align: left;
  }

  .link-fylo {
    display: inline;
  }

  .productive-card {
    width: 80%;
    margin: 2.5rem 0;
  }
}
